/*Float*/
@media only screen and (min-device-width: 320px) and (max-device-width: 580px) {
  .main {
    margin: 0 auto;
  }

  .content-item {
    max-width: 480px;
  }

  .side-bar {
    max-width: 480px;
  }

  .content,
  aside {
    margin: 0 auto;
    width: 300px;
  }

}

@media only screen and (min-device-width: 581px) and (max-device-width: 1023px) {
  .main {
    margin: var(--marginS);
  }

  .content,
  aside {
    float: left;
  }

  .content {
    width: 70%;
  }

  aside {
    width: 28%;
    right: 10px;
  }

  .side-bar {
    width: 100%;
    height: 250px;
  }

  .content-item {
    margin-left: 1%;
    float: left;
    min-width: auto;
    width: 45%;
    margin-bottom: 20px;
    min-height: 250px;
  }

  .content-item-1 {
    --light-violet: red;
    background-color: var(--light-violet);
    margin-bottom: -10px;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    margin-bottom: 20px;
  }

  .content {
    position: relative;
    width: 70%;
  }

  .content-item {
    margin-left: 1%;
    float: left;
    min-width: auto;
    width: 45%;
  }

  .content-item-1 {
    width: 335px;
  }

  .content-item-2 {
    width: 335px;
  }

  .side-bar {
    right: 10px;
    height: 200px;
    width: 100%;
  }

  .content,
  aside {
    float: left;
  }

  aside {
    width: 28%;
  }


}

